body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: rgb(196, 223, 223);
    color: black;
    margin:0px;
    padding:0px;
    text-align:center;
}
header{
    background-color: rgb(196, 223, 223);
    color: black;
    padding: 20px;
    text-align: center;
}
 ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    text-align: center;
}
li{
    display:inline-block;
    margin-right: 20px;
    text-align: center;

}
li:last-child{
    margin-right: 0px;
    text-align: center;

}
 a{
    color:aqua;
    text-decoration: none;
    text-align: center;
}
main{
    max-width:200px;
    margin:0 aute;
    padding:20px;
    text-align: center;

}
div{
    margin-bottom:40px;
    text-align: center;
}
h3,h3{
    font-weight: normal;
    text-align: center;
}
h3{
    font-size:36px;
    margin-top:0px;
    text-align: center;
}
h3{
    font-size: 24px;
    margin-left:0px ;
    border-bottom: 1px solid #daf ;
    padding-bottom: 10px;
    text-align: center;
}
ul{
    list-style-type: disc;
    margin-left:20px;
    text-align: center;

}
footer{
    background-color: #333;
    color:#fff;
    padding: 20px;
    text-align: center;
}
body{
    background-color: black;
    text-align: center;
}
#image{
    text-align: center;
    border-radius: 0px;
    
}
    

